<h1>Category Admin</h1>
{{category-delete category=model destroyCategory="destroyCategory"}}


<!-- <ul>
  {{#each model as |post|}}
    <li>{{post.title}}</li>
    <button {{action 'destroyPost' post}}>Delete</button>
    {{update-post post=post update="update"}}

  {{/each}}
</ul> -->

<h1>Add a Post</h1>
{{new-post save2="save3"}}
